@inject NavigationManager Navigation
@page "/"

<PageTitle>Magnus Forsman</PageTitle>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/3d-isometric" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<section id="header">
    <div class="container-fluid header">
        <video src="assets/video/background.mp4" class="header-video" autoplay loop muted></video>
        <img class="img-header" src="assets/img/facecolor.png" alt="Face sticker" />
        <img class="chat-header" src="assets/img/chat.gif" alt="Chat bubble" />
        @if (weather == null)
        {
            <p>Loading</p>
        }
        else
        {
            <h4 class="text-header">Hello there! <br /><br />@Weather()<br /> Should we meet up for a coffe?</h4>
            <a @onclick="Continue" class="btn-header"><h1 class="threede">Continue</h1></a>
        }
    </div>
</section>
<div class="container-fluid" style="height:10vh; background-color: black;"></div>
<section id="separator">
</section>

@* About *@
<section id="about">
    <div class="container">
        <div class="row">
            <div class=" justify-content-center text-center">
                <h1 class="threede">Contact</h1>

            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 d-flex justify-content-center text-center">

        <div class="row mt-2 align-items-center">
            <hr class="custom-hr my-5" />
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/img/me.jpg" class="profile-picture" alt="Profile picture" />
            </div>
            <div class="col-12 col-lg-6 align-content-center mt-2">
                <h4>.NET Cloud Developer <br /> student at ITHS</h4>
                <h4 class="mt-5">@about.Phone <br> @about.Email</h4>
            </div>
            <hr class="custom-hr my-5" />
        </div>

    </div>

</section>

<section id="skills">
    <div class="container">
        <div class="row">
            <div class="mb-5 justify-content-center text-center">
                <h1 class="threede">Skills</h1>

            </div>
        </div>
    </div>
        <div class="row">
            
            @if (skills == null)
            {
                <p>Loading...</p>

            }
            else
            {
                @foreach (var skill in skills)
                {
                <div class="col-2"></div>
                    <div class="col-8">
                        <div class="text-center">
                            <h3>@skill.Name</h3>
                        </div>
                        <div class="progress my-4">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @skill.Progress%;"></div>
                        </div>
                    </div>
                <div class="col-2"></div>
                    

                }
            }
        </div>
</section>



@* Projects *@
<section id="project">
    <div class="row  d-flex text-center mb-5">
        <h1 style="padding-top: 5vh; " class="threede">Projects</h1>
    </div>
    <div class="container-fluid">
        @if (projects == null)
        {
            <p>Loading..</p>            
        }
        else
        {
            <div class="row d-flex justify-content-center">
                @foreach(var project in projects)
                {
                    
                    <div class="card mb-3 col-11 col-lg-3 m-4 card-hoover">
                        <div class="card-body">
                            <h3 class="card-title">@project.Name</h3>
                        </div>
                        <div>
                            <a href="@project.Description"><img src="@project.ImagePath" class="card-img" alt="Project Image" /></a>
                        </div>


                        <div class="card-footer text-muted my-3">
                            @project.Year
                        </div>
                    </div>
                    
                }
            </div>
        }
    </div>
</section>

@* Educations *@
<section id="education">
    <div class="row  d-flex text-center mb-5">
        <h1 style="padding-top: 5vh;" class="threede">Educations</h1>
        </div>
    <div class="container-fluid">

        @if(educations == null)
        {
            <p>Loading..</p>            
        }
        else
        {
            <div class="row d-flex justify-content-center">
                @foreach (var education in educations)
                {
                    <div class="card mb-3 col-11 col-lg-3 m-4 card-hoover">
                        <div class="card-body">
                            <h3 class="card-title">@education.Title</h3>
                        </div>
                        <div>
                            <a href="@education.Description"><img src="@education.ImagePath" class="card-img" alt="School Image" /></a>
                        </div>

                        <div class="card-footer text-muted my-3">
                            @education.StartYear - @education.EndYear
                        </div>
                    </div>

                }
            </div>   
        }
    </div>
</section>


@* Jobs *@
<section id="job">
    <div class="row  d-flex text-center">
        <h1 style="padding-top: 5vh;" class="threede">Jobs</h1>
    </div>
    <div class="container-fluid" style="padding-bottom: 5vh;">

        @if (jobs == null)
        {
            <p>Loading..</p>
        }
        else
        {
            <div class="row d-flex justify-content-center mt-5 ">
                @foreach (var job in jobs)
                {
                    <div class="card mb-3 col-11 col-lg-3 m-4 card-hoover">
                        <div class="card-body">
                            <h3 class="card-title">@job.Title</h3>
                        </div>
                        <div>
                            <img src="@job.ImagePath" class="card-img" alt="Company Image"/>
                        </div>
                        <div class="card-body text-muted">
                            <p class="card-text">@job.Description</p>
                        </div>

                        <div class="card-footer text-muted">
                            @job.StartYear - @job.EndYear
                        </div>
                    </div>

                }
            </div>
        }
    </div>
</section>


<Admin />
<section id="invseparator">
</section>
